In [3]:
import pandas as pd
from pathlib import Path

In [4]:
BASE_DIR = '../../data/rawdata/'

In [ ]:
def check_correct(row):
    if row['big_small'] == 'S' and row['opt'] == 4:
        return True
    elif row['big_small'] == 'B' and row['opt'] == 3:
        return True
    return False

def read_bh(file):
    '''Auxiliary function to read the data from the behavioural file
    in the specified format and with meaningful column names.'''
    df = pd.read_csv(file, header=None,
        names=['o', 'ab', 'show_times', 'stim', 'PER', 'big_small', 'nl', 'onset', 'opt', 'response_time']).drop(
        columns=['o', 'PER']
    )
    df['opt'] = df['opt'].astype('Int64')

    df['correct'] = df[df['opt'].notna()].apply(check_correct, axis=1)
    return df

def add_consecutive(df):
    df['sequence'] = df.sort_values(by='onset').groupby('stim').cumcount() + 1
    return df

def get_trials_condition(df):
    '''Auxiliary function to get the number of trials and unique stimuli
    in the dataset, as well as the number of trials for each condition.'''
    dummy = df[(df['opt'].isna()) | (df['correct'] == False)]
    p11 = df[(df['show_times'] == 1) & (df['correct'] == True)]
    p31 = df[(df['show_times'] == 3) & (df['correct'] == True) & (df['sequence'] == 1)]
    p32 = df[(df['show_times'] == 3) & (df['correct'] == True) & (df['sequence'] == 2)]
    p33 = df[(df['show_times'] == 3) & (df['correct'] == True) & (df['sequence'] == 3)]

    print('Number of trials:', len(df))
    print('Number of unique stimuli:', len(df['stim'].unique()))
    print('------')
    print(f'                Number of 1-show trials: {len(p11)}')
    print(f'Number of 3-show trials with sequence 1: {len(p31)}')
    print(f'Number of 3-show trials with sequence 2: {len(p32)}')
    print(f'Number of 3-show trials with sequence 3: {len(p33)}')
    print(f'                 Number of dummy trials: {len(dummy)}')
    
    return {
        'p11': p11,
        'p31': p31,
        'p32': p32,
        'p33': p33,
        'dummy': dummy
    }

In [17]:
def get_ps_from_file(file):
    '''Auxiliary function to read the data from the behavioural file
    and add the sequence column to it.'''
    print('*'*50)
    print(f'Processing file {file}')
    df = read_bh(file)
    df = add_consecutive(df)
    return get_trials_condition(df)

In [18]:
# Get all subjects' directories
base_path = Path(BASE_DIR)
subjects = sorted([d for d in base_path.iterdir() if d.is_dir()])
data = {}

# Load all behaviour files
for subject in subjects:
    # Behaviour files are CSVs in the beh directory
    beh_files = sorted(subject.glob('beh/*.csv'))
    csvs = {}
    # Each subject should have 2 behaviour files
    if len(beh_files) != 2:
        print(f'Error: {subject.name} does not have 2 behaviour files')
        continue
    # Load the CSVs with pandas.read_csv
    csvs['rep1'] = get_ps_from_file(beh_files[0])
    csvs['rep2'] = get_ps_from_file(beh_files[1])
    data[subject.name] = csvs

**************************************************
Processing file ../../data/rawdata/o01/beh/o01-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 10
Number of 3-show trials with sequence 1: 7
Number of 3-show trials with sequence 2: 7
Number of 3-show trials with sequence 3: 10
                 Number of dummy trials: 14
**************************************************
Processing file ../../data/rawdata/o01/beh/o01-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 10
Number of 3-show trials with sequence 1: 10
Number of 3-show trials with sequence 2: 9
Number of 3-show trials with sequence 3: 9
                 Number of dummy trials: 10
**************************************************
Processing file ../../data/rawdata/o02/beh/o02-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 1
**************************************************
Processing file ../../data/rawdata/o02/beh/o02-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 1
**************************************************
Processing file ../../data/rawdata/o03/beh/o03-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 12
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 0
**************************************************
Processing file ../../data/rawdata/o03/beh/o03-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 12
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 9
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 5
**************************************************
Processing file ../../data/rawdata/o04/beh/o04-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 10
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 11
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 3
**************************************************
Processing file ../../data/rawdata/o04/beh/o04-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 10
Number of 3-show trials with sequence 2: 10
Number of 3-show trials with sequence 3: 9
                 Number of dummy trials: 8
**************************************************
Processing file ../../data/rawdata/o05/beh/o05-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 7
Number of 3-show trials with sequence 1: 7
Number of 3-show trials with sequence 2: 9
Number of 3-show trials with sequence 3: 10
                 Number of dummy trials: 15
**************************************************
Processing file ../../data/rawdata/o05/beh/o05-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 10
Number of 3-show trials with sequence 2: 11
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 4
**************************************************
Processing file ../../data/rawdata/o06/beh/o06-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 8
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 10
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 8
**************************************************
Processing file ../../data/rawdata/o06/beh/o06-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 10
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 3
**************************************************
Processing file ../../data/rawdata/o07/beh/o07-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 2
**************************************************
Processing file ../../data/rawdata/o07/beh/o07-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 11
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 3
**************************************************
Processing file ../../data/rawdata/o08/beh/o08-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 12
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 1
**************************************************
Processing file ../../data/rawdata/o08/beh/o08-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 10
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 4
**************************************************
Processing file ../../data/rawdata/o09/beh/o09-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 6
Number of 3-show trials with sequence 2: 10
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 10
**************************************************
Processing file ../../data/rawdata/o09/beh/o09-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 9
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 11
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 6
**************************************************
Processing file ../../data/rawdata/o10/beh/o10-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 1
**************************************************
Processing file ../../data/rawdata/o10/beh/o10-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 12
Number of 3-show trials with sequence 1: 10
Number of 3-show trials with sequence 2: 11
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 4
**************************************************
Processing file ../../data/rawdata/o11/beh/o11-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 11
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 3
**************************************************
Processing file ../../data/rawdata/o11/beh/o11-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 12
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 11
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 3
**************************************************
Processing file ../../data/rawdata/o12/beh/o12-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 5
Number of 3-show trials with sequence 1: 4
Number of 3-show trials with sequence 2: 3
Number of 3-show trials with sequence 3: 3
                 Number of dummy trials: 33
**************************************************
Processing file ../../data/rawdata/o12/beh/o12-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 6
Number of 3-show trials with sequence 1: 5
Number of 3-show trials with sequence 2: 5
Number of 3-show trials with sequence 3: 4
                 Number of dummy trials: 28
**************************************************
Processing file ../../data/rawdata/o13/beh/o13-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 3
**************************************************
Processing file ../../data/rawdata/o13/beh/o13-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 12
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 0
**************************************************
Processing file ../../data/rawdata/o14/beh/o14-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 10
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 2
**************************************************
Processing file ../../data/rawdata/o14/beh/o14-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 12
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 10
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 3
**************************************************
Processing file ../../data/rawdata/o15/beh/o15-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 8
Number of 3-show trials with sequence 1: 9
Number of 3-show trials with sequence 2: 9
Number of 3-show trials with sequence 3: 9
                 Number of dummy trials: 13
**************************************************
Processing file ../../data/rawdata/o15/beh/o15-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 8
Number of 3-show trials with sequence 1: 8
Number of 3-show trials with sequence 2: 10
Number of 3-show trials with sequence 3: 7
                 Number of dummy trials: 15
**************************************************
Processing file ../../data/rawdata/o16/beh/o16-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 3
**************************************************
Processing file ../../data/rawdata/o16/beh/o16-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 12
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 2
**************************************************
Processing file ../../data/rawdata/o17/beh/o17-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 12
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 11
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 2
**************************************************
Processing file ../../data/rawdata/o17/beh/o17-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 8
Number of 3-show trials with sequence 1: 10
Number of 3-show trials with sequence 2: 10
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 9
**************************************************
Processing file ../../data/rawdata/o18/beh/o18-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 1
**************************************************
Processing file ../../data/rawdata/o18/beh/o18-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 10
Number of 3-show trials with sequence 1: 9
Number of 3-show trials with sequence 2: 11
Number of 3-show trials with sequence 3: 7
                 Number of dummy trials: 11
**************************************************
Processing file ../../data/rawdata/y01/beh/y01-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 12
Number of 3-show trials with sequence 1: 10
Number of 3-show trials with sequence 2: 11
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 3
**************************************************
Processing file ../../data/rawdata/y01/beh/y01-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 12
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 0
**************************************************
Processing file ../../data/rawdata/y02/beh/y02-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 2
**************************************************
Processing file ../../data/rawdata/y02/beh/y02-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 12
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 0
**************************************************
Processing file ../../data/rawdata/y03/beh/y03-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 10
Number of 3-show trials with sequence 1: 10
Number of 3-show trials with sequence 2: 11
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 6
**************************************************
Processing file ../../data/rawdata/y03/beh/y03-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 10
Number of 3-show trials with sequence 2: 10
Number of 3-show trials with sequence 3: 10
                 Number of dummy trials: 7
**************************************************
Processing file ../../data/rawdata/y04/beh/y04-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 10
Number of 3-show trials with sequence 1: 10
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 10
                 Number of dummy trials: 6
**************************************************
Processing file ../../data/rawdata/y04/beh/y04-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 10
                 Number of dummy trials: 3
**************************************************
Processing file ../../data/rawdata/y05/beh/y05-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 8
Number of 3-show trials with sequence 1: 9
Number of 3-show trials with sequence 2: 10
Number of 3-show trials with sequence 3: 10
                 Number of dummy trials: 11
**************************************************
Processing file ../../data/rawdata/y05/beh/y05-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 9
Number of 3-show trials with sequence 1: 6
Number of 3-show trials with sequence 2: 7
Number of 3-show trials with sequence 3: 10
                 Number of dummy trials: 16
**************************************************
Processing file ../../data/rawdata/y06/beh/y06-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 10
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 2
**************************************************
Processing file ../../data/rawdata/y06/beh/y06-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 2
**************************************************
Processing file ../../data/rawdata/y07/beh/y07-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 1
**************************************************
Processing file ../../data/rawdata/y07/beh/y07-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 10
Number of 3-show trials with sequence 1: 11
Number of 3-show trials with sequence 2: 10
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 6
**************************************************
Processing file ../../data/rawdata/y08/beh/y08-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 12
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 12
Number of 3-show trials with sequence 3: 12
                 Number of dummy trials: 0
**************************************************
Processing file ../../data/rawdata/y08/beh/y08-2.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 12
Number of 3-show trials with sequence 2: 11
Number of 3-show trials with sequence 3: 11
                 Number of dummy trials: 3
**************************************************
Processing file ../../data/rawdata/y09/beh/y09-1.csv
Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 11
Number of 3-show trials with sequence 1: 10

In [19]:
print(data.keys())

dict_keys(['o01', 'o02', 'o03', 'o04', 'o05', 'o06', 'o07', 'o08', 'o09', 'o10', 'o11', 'o12', 'o13', 'o14', 'o15', 'o16', 'o17', 'o18', 'y01', 'y02', 'y03', 'y04', 'y05', 'y06', 'y07', 'y08', 'y09', 'y10', 'y11', 'y12', 'y13', 'y14', 'y15', 'y16', 'y17', 'y18', 'y19'])

In [20]:
data['y01']['rep1']

{'p11':    ab  show_times                   stim big_small  nl   onset  opt  \
 2   D           1    stim/flashlight.bmp         S  NL   35988    4
 11  D           1  stim/sequoia_tree.bmp         B   L   82988    3
 15  D           1        stim/basket.bmp         B  NL   98988    3
 21  D           1       stim/blender.bmp         B  NL  116988    3
 28  D           1          stim/bear.bmp         B   L  141988    3
 31  D           1     stim/saxophone.bmp         B  NL  166988    3
 33  D           1          stim/dove.bmp         S   L  188988    4
 34  D           1          stim/yarn.bmp         S  NL  199988    4
 36  D           1       stim/grappes.bmp         S   L  221988    4
 37  D           1     stim/raspberry.bmp         S   L  224988    4
 39  D           1           stim/dog.bmp         B   L  230989    3
 47  D           1        stim/camera.bmp         S  NL  262988    4

     response_time  correct  sequence
 2             667     True         1
 11            700     True         1
 15            662     True         1
 21            756     True         1
 28            665     True         1
 31            684     True         1
 33            966     True         1
 34            706     True         1
 36            635     True         1
 37            494     True         1
 39            746     True         1
 47            835     True         1  ,
 'p31':    ab  show_times               stim big_small  nl   onset  opt  \
 0   A           3     stim/faint.bmp         S  NL   29988    4
 1   A           3   stim/toilett.bmp         B  NL   32988    3
 3   A           3  stim/broccoli.bmp         S   L   38988    4
 4   A           3       stim/car.bmp         B  NL   41988    3
 6   A           3  stim/playcard.bmp         S  NL   51989    4
 7   A           3       stim/egg.bmp         S   L   62988    4
 13  A           3  stim/tunafish.bmp         B   L   92989    3
 14  A           3   stim/lettuce.bmp         S   L   95988    4
 17  A           3  stim/oldradio.bmp         B  NL  104988    3
 23  A           3      stim/tree.bmp         B   L  122988    3

     response_time  correct  sequence
 0             807     True         1
 1             636     True         1
 3             550     True         1
 4             585     True         1
 6             568     True         1
 7             652     True         1
 13            873     True         1
 14            658     True         1
 17            739     True         1
 23            771     True         1  ,
 'p32':    ab  show_times               stim big_small  nl   onset  opt  \
 8   A           3  stim/playcard.bmp         S  NL   73988    4
 9   A           3   stim/penguin.bmp         B   L   76988    3
 16  A           3     stim/faint.bmp         S  NL  101988    4
 18  A           3  stim/broccoli.bmp         S   L  107988    4
 19  A           3  stim/envelope.bmp         S  NL  110989    4
 22  A           3  stim/oldradio.bmp         B  NL  119988    3
 24  A           3      stim/tree.bmp         B   L  125988    3
 25  A           3   stim/lettuce.bmp         S   L  128988    4
 26  A           3       stim/car.bmp         B  NL  131989    3
 30  A           3  stim/tunafish.bmp         B   L  155988    3
 40  A           3       stim/egg.bmp         S   L  233988    4

     response_time  correct  sequence
 8             570     True         2
 9             595     True         2
 16            624     True         2
 18            548     True         2
 19            671     True         2
 22            601     True         2
 24            501     True         2
 25            601     True         2
 26            651     True         2
 30            609     True         2
 40            615     True         2  ,
 'p33':    ab  show_times               stim big_small  nl   onset  opt  \
 10  A           3  stim/playcard.bmp         S  NL   79988    4
 20  A           3   stim/penguin.bmp         B   L  113988    3
 29  A           3     stim/faint.bmp         S  NL  148988    4
 32  A           3      stim/tree.bmp         B   L  177989    3
 35  A           3       stim/car.bmp         B  NL  210988    3
 38  A           3  stim/oldradio.bmp         B  NL  227988    3
 41  A           3  stim/tunafish.bmp         B   L  236988    3
 42  A           3   stim/lettuce.bmp         S   L  239988    4
 43  A           3       stim/egg.bmp         S   L  242988    4
 44  A           3  stim/envelope.bmp         S  NL  245988    4
 45  A           3  stim/broccoli.bmp         S   L  248988    4
 46  A           3   stim/toilett.bmp         B  NL  255989    3

     response_time  correct  sequence
 10            518     True         3
 20            690     True         3
 29            621     True         3
 32            577     True         3
 35            582     True         3
 38            617     True         3
 41            616     True         3
 42            563     True         3
 43            591     True         3
 44            682     True         3
 45            572     True         3
 46            649     True         3  ,
 'dummy':    ab  show_times               stim big_small  nl   onset  opt  \
 5   A           3   stim/penguin.bmp         B   L   44988    4
 12  A           3  stim/envelope.bmp         S  NL   89988    3
 27  A           3   stim/toilett.bmp         B  NL  134988    4

     response_time  correct  sequence
 5             811    False         1
 12            860    False         1
 27            590    False         2  }

In [39]:
data['y01']['rep1']['dummy']

,ab,show_times,stim,big_small,nl,onset,opt,response_time,correct,sequence
5,A,3,stim/penguin.bmp,B,L,44988,4,811,False,1
12,A,3,stim/envelope.bmp,S,NL,89988,3,860,False,1
27,A,3,stim/toilett.bmp,B,NL,134988,4,590,False,2

## Analysis intra-rep

In [52]:
rep_stats_df = pd.DataFrame(columns=[
    'subject',
    'rep',
    'p31',
    'p32',
    'p33',
    'p31_mean_rt',
    'p32_mean_rt',
    'p33_mean_rt',
    'p31_std_rt',
    'p32_std_rt',
    'p33_std_rt',
    'dummy_p3_',
    'mean_rt',
    'std_rt',
    'mean_acc',
    'std_acc'
    ])

In [53]:
for subject in data.keys():
    new_rows = []
    new_rows.append({
        'subject': subject,
        'rep': 'rep1',
        'p31': len(data[subject]['rep1']['p31']),
        'p32': len(data[subject]['rep1']['p32']),
        'p33': len(data[subject]['rep1']['p33']),
        'p31_mean_rt': data[subject]['rep1']['p31']['response_time'].mean(),
        'p32_mean_rt': data[subject]['rep1']['p32']['response_time'].mean(),
        'p33_mean_rt': data[subject]['rep1']['p33']['response_time'].mean(),
        'p31_std_rt': data[subject]['rep1']['p31']['response_time'].std(),
        'p32_std_rt': data[subject]['rep1']['p32']['response_time'].std(),
        'p33_std_rt': data[subject]['rep1']['p33']['response_time'].std(),
        'dummy_p3_': len(data[subject]['rep1']['dummy'][data[subject]['rep1']['dummy']['show_times'] == 3]),
        'mean_acc': 0,
        'std_acc': 0
    })
    new_rows.append({
        'subject': subject,
        'rep': 'rep2',
        'p31': len(data[subject]['rep2']['p31']),
        'p32': len(data[subject]['rep2']['p32']),
        'p33': len(data[subject]['rep2']['p33']),
        'p31_mean_rt': data[subject]['rep2']['p31']['response_time'].mean(),
        'p32_mean_rt': data[subject]['rep2']['p32']['response_time'].mean(),
        'p33_mean_rt': data[subject]['rep2']['p33']['response_time'].mean(),
        'p31_std_rt': data[subject]['rep2']['p31']['response_time'].std(),
        'p32_std_rt': data[subject]['rep2']['p32']['response_time'].std(),
        'p33_std_rt': data[subject]['rep2']['p33']['response_time'].std(),
        'dummy_p3_': len(data[subject]['rep2']['dummy'][data[subject]['rep2']['dummy']['show_times'] == 3]),
        'mean_rt': data[subject]['rep2']['p31']['response_time'].mean(),
        'std_rt': data[subject]['rep2']['p31']['response_time'].std(),
        'mean_acc': 0,
        'std_acc': 0
    })

    rep_stats_df = pd.concat([rep_stats_df, pd.DataFrame(new_rows)])

/tmp/ipykernel_33794/1827422936.py:38: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rep_stats_df = pd.concat([rep_stats_df, pd.DataFrame(new_rows)])

In [54]:
rep_stats_df

,subject,rep,p31,p32,p33,p31_mean_rt,p32_mean_rt,p33_mean_rt,p31_std_rt,p32_std_rt,p33_std_rt,dummy_p3_,mean_rt,std_rt,mean_acc,std_acc
0,o01,rep1,7,7,10,920.571429,803.285714,860.800000,140.580768,153.969385,158.489257,12,NaN,NaN,0,0
1,o01,rep2,10,9,9,965.500000,838.666667,789.444444,207.437943,164.601033,159.204359,8,965.500000,207.437943,0,0
0,o02,rep1,12,12,12,891.000000,644.750000,666.666667,137.895876,112.039867,98.721218,0,NaN,NaN,0,0
1,o02,rep2,12,12,12,807.500000,648.500000,711.333333,150.318752,87.060585,96.502787,0,807.500000,150.318752,0,0
0,o03,rep1,12,12,12,775.583333,667.000000,722.000000,182.404375,111.949664,107.331263,0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,y17,rep2,10,12,12,721.400000,665.833333,635.916667,133.544999,103.270900,74.456160,2,721.400000,133.544999,0,0
0,y18,rep1,11,10,11,777.454545,660.600000,738.727273,198.030989,85.381757,168.161286,4,NaN,NaN,0,0
1,y18,rep2,12,12,11,765.833333,637.166667,667.272727,114.015018,102.322870,132.324670,1,765.833333,114.015018,0,0
0,y19,rep1,11,11,11,852.545455,664.272727,663.000000,196.760953,90.145539,72.908161,3,NaN,NaN,0,0
1,y19,rep2,9,11,11,830.000000,692.727273,667.909091,229.118965,74.475621,126.779694,5,830.000000,229.118965,0,0

In [59]:
subject_stats_df = rep_stats_df.sort_values(by='rep').groupby('subject').agg({
    'p31': 'sum',
    'p32': 'sum',
    'p33': 'sum',
    'p31_mean_rt': lambda x: x.iloc[0] - x.iloc[1],
    'p32_mean_rt': lambda x: x.iloc[0] - x.iloc[1],
    'p33_mean_rt': lambda x: x.iloc[0] - x.iloc[1],
    'p31_std_rt': lambda x: x.iloc[0] - x.iloc[1],
    'p32_std_rt': lambda x: x.iloc[0] - x.iloc[1],
    'p33_std_rt': lambda x: x.iloc[0] - x.iloc[1],
    'dummy_p3_': 'sum',
    'mean_rt': lambda x: x.iloc[0] - x.iloc[1],
    'std_rt': lambda x: x.iloc[0] - x.iloc[1],
    'mean_acc': lambda x: x.iloc[0] - x.iloc[1],
    'std_acc': lambda x: x.iloc[0] - x.iloc[1]
}).reset_index()

subject_stats_df

,subject,p31,p32,p33,p31_mean_rt,p32_mean_rt,p33_mean_rt,p31_std_rt,p32_std_rt,p33_std_rt,dummy_p3_,mean_rt,std_rt,mean_acc,std_acc
0,o01,17,16,19,-44.928571,-35.380952,71.355556,-66.857174,-10.631648,-0.715102,20,NaN,NaN,0,0
1,o02,24,24,24,83.500000,-3.750000,-44.666667,-12.422876,24.979282,2.218431,0,NaN,NaN,0,0
2,o03,23,21,23,22.128788,-129.666667,14.727273,77.949252,-128.349108,-54.174211,5,NaN,NaN,0,0
3,o04,22,21,21,-122.583333,71.590909,136.583333,-189.576505,227.592514,323.110670,8,NaN,NaN,0,0
4,o05,17,20,22,277.028571,-127.202020,-85.466667,117.148330,-36.862880,-99.212789,13,NaN,NaN,0,0
5,o06,23,22,22,93.666667,70.233333,61.181818,-0.066228,115.386423,91.418164,5,NaN,NaN,0,0
6,o07,23,23,23,-43.696970,10.825758,103.303030,-45.579125,36.833276,54.505093,3,NaN,NaN,0,0
7,o08,23,22,23,-33.348485,7.616667,-157.939394,-247.953389,106.707190,-149.532472,4,NaN,NaN,0,0
8,o09,17,21,22,73.060606,127.427273,26.454545,83.113914,430.750151,11.536060,12,NaN,NaN,0,0
9,o10,22,23,23,-53.666667,-75.681818,11.742424,46.793786,-189.711035,133.400158,4,NaN,NaN,0,0
10,o11,22,22,23,60.454545,214.090909,288.515152,108.742597,327.061995,395.467806,5,NaN,NaN,0,0
11,o12,9,8,7,6.650000,-178.800000,-27.250000,-31.287186,-148.020973,8.160883,48,NaN,NaN,0,0
12,o13,23,24,23,63.007576,50.416667,32.659091,23.954287,28.996442,60.013821,2,NaN,NaN,0,0
13,o14,23,22,24,34.234848,45.833333,3.083333,77.803204,-0.881202,-24.143823,3,NaN,NaN,0,0
14,o15,17,19,16,122.361111,-19.711111,2.095238,247.782710,61.425272,108.085464,20,NaN,NaN,0,0
15,o16,22,24,22,-34.818182,16.083333,-108.818182,26.608078,28.031010,-92.631031,4,NaN,NaN,0,0
16,o17,21,21,23,-22.463636,-199.936364,-65.537879,253.159852,-77.608600,-102.965206,7,NaN,NaN,0,0
17,o18,21,23,19,130.027778,80.060606,133.000000,16.791532,100.249834,35.698321,9,NaN,NaN,0,0
18,y01,22,23,24,55.900000,39.060606,75.333333,45.976646,-17.898082,-21.991205,3,NaN,NaN,0,0
19,y02,23,24,24,225.893939,97.583333,17.083333,72.645304,83.787063,3.710315,1,NaN,NaN,0,0
20,y03,20,21,21,-61.000000,-78.481818,-84.318182,112.909325,13.901452,-51.034509,10,NaN,NaN,0,0
21,y04,22,24,20,-42.050000,14.500000,61.000000,-72.402030,23.128125,0.730046,6,NaN,NaN,0,0
22,y05,15,17,20,-46.222222,-51.614286,-112.600000,4.734208,27.128433,-58.796115,20,NaN,NaN,0,0
23,y06,23,24,24,76.280303,19.166667,-16.583333,15.528061,15.525795,-24.609867,1,NaN,NaN,0,0
24,y07,23,22,23,-44.439394,1.983333,76.446970,-26.953383,-65.785302,46.766060,4,NaN,NaN,0,0
25,y08,24,23,23,-4.750000,5.840909,30.916667,-5.256159,26.597007,19.222327,2,NaN,NaN,0,0
26,y09,21,21,21,136.818182,-37.854545,-62.572727,0.986486,51.122504,-136.407018,9,NaN,NaN,0,0
27,y10,22,23,22,-48.545455,-14.340909,42.000000,39.430837,-7.109291,7.682504,5,NaN,NaN,0,0
28,y11,23,24,23,58.431818,11.000000,41.681818,164.455016,38.583096,73.686484,2,NaN,NaN,0,0
29,y12,23,22,22,-114.757576,2.883333,-29.166667,-149.358974,-17.466914,-25.269399,5,NaN,NaN,0,0
30,y13,20,24,23,60.111111,-27.250000,-11.053030,36.439083,-92.557838,-36.193238,5,NaN,NaN,0,0
31,y14,23,23,24,242.590909,95.598485,18.000000,276.486179,57.465960,-11.999459,2,NaN,NaN,0,0
32,y15,18,22,23,-37.777778,-60.866667,1.568182,-34.259675,-76.208096,-24.736667,9,NaN,NaN,0,0
33,y16,22,22,23,25.090909,15.150000,31.030303,-20.740992,4.945779,37.763710,5,NaN,NaN,0,0
34,y17,21,23,23,34.236364,-66.560606,-13.371212,-13.899462,-56.674568,-31.821986,5,NaN,NaN,0,0
35,y18,23,22,22,11.621212,23.433333,71.454545,84.015972,-16.941113,35.836617,5,NaN,NaN,0,0
36,y19,20,22,22,22.545455,-28.454545,-4.909091,-32.358011,15.669917,-53.871533,8,NaN,NaN,0,0