In [1]:
import pandas as pd

PER = Perceptual task

In [7]:
def check_correct(row):
    if row['big_small'] == 'S' and row['opt'] == 4:
        return True
    elif row['big_small'] == 'B' and row['opt'] == 3:
        return True
    return False

def read_bh(file):
    '''Auxiliary function to read the data from the behavioural file
    in the specified format and with meaningful column names.'''
    df = pd.read_csv(file, header=None,
        names=['o', 'ab', 'show_times', 'stim', 'PER', 'big_small', 'nl', 'onset', 'opt', 'response_time']).drop(
        columns=['o', 'PER']
    )
    df['opt'] = df['opt'].astype('Int64')

    df['correct'] = df[df['opt'].notna()].apply(check_correct, axis=1)

    return df

def add_consecutive(df):
    df['sequence'] = df.sort_values(by='onset').groupby('stim').cumcount() + 1
    return df

def get_trials_condition(df):
    '''Auxiliary function to get the number of trials and unique stimuli
    in the dataset, as well as the number of trials for each condition.'''
    dummy = df[(df['opt'].isna()) | (df['correct'] == False)]
    p11 = df[(df['show_times'] == 1) & (df['correct'] == True)]
    p31 = df[(df['show_times'] == 3) & (df['correct'] == True) & (df['sequence'] == 1)]
    p32 = df[(df['show_times'] == 3) & (df['correct'] == True) & (df['sequence'] == 2)]
    p33 = df[(df['show_times'] == 3) & (df['correct'] == True) & (df['sequence'] == 3)]

    print('Number of trials:', len(df))
    print('Number of unique stimuli:', len(df['stim'].unique()))
    print('------')
    print(f'                Number of 1-show trials: {len(p11)}')
    print(f'Number of 3-show trials with sequence 1: {len(p31)}')
    print(f'Number of 3-show trials with sequence 2: {len(p32)}')
    print(f'Number of 3-show trials with sequence 3: {len(p33)}')
    print(f'                 Number of dummy trials: {len(dummy)}')

    return {
        'p11': p11,
        'p31': p31,
        'p32': p32,
        'p33': p33,
        'dummy': dummy,
        'total': len(df),
        'unique': len(df['stim'].unique()),
        'correct': len(df[df['correct'] == True]),
        'incorrect': len(df[df['correct'] == False | df['correct'].isna()]),
    }

In [3]:
rep1_o1 = read_bh('../../data/rawdata/o01/beh/o01-1.csv')
rep1_o1 = add_consecutive(rep1_o1)

get_trials_condition(rep1_o1)

None

Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 10
Number of 3-show trials with sequence 1: 7
Number of 3-show trials with sequence 2: 7
Number of 3-show trials with sequence 3: 10
                 Number of dummy trials: 14

In [9]:
rep1_o1

,ab,show_times,stim,big_small,nl,onset,opt,response_time,correct,sequence
0,B,3,stim/wheelchair.bmp,B,NL,30000,3,1087,True,1
1,B,3,stim/rooster.bmp,B,L,33001,3,1035,True,1
2,B,3,stim/wheelchair.bmp,B,NL,36001,3,917,True,2
3,A,1,stim/egg.bmp,S,L,39001,4,982,True,1
4,B,3,stim/spinach.bmp,S,L,42001,<NA>,0,NaN,1
5,B,3,stim/spoon.bmp,S,NL,45001,<NA>,0,NaN,1
6,A,1,stim/faint.bmp,S,NL,52001,<NA>,0,NaN,1
7,B,3,stim/shell.bmp,S,L,63001,<NA>,0,NaN,1
8,A,1,stim/oldradio.bmp,B,NL,74001,3,1081,True,1
9,A,1,stim/car.bmp,B,NL,77001,3,821,True,1
10,B,3,stim/rooster.bmp,B,L,80001,3,846,True,2
11,B,3,stim/screw.bmp,S,NL,83001,<NA>,0,NaN,1
12,A,1,stim/toilett.bmp,B,NL,90001,3,853,True,1
13,B,3,stim/spinach.bmp,S,L,93001,<NA>,0,NaN,2
14,B,3,stim/shell.bmp,S,L,96001,<NA>,0,NaN,2
15,B,3,stim/spoon.bmp,S,NL,99001,<NA>,0,NaN,2
16,B,3,stim/rat.bmp,S,L,102001,<NA>,0,NaN,1
17,A,1,stim/playcard.bmp,S,NL,105001,4,802,True,1
18,A,1,stim/envelope.bmp,S,NL,108001,<NA>,0,NaN,1
19,A,1,stim/tunafish.bmp,B,L,111001,3,920,True,1
20,B,3,stim/screw.bmp,S,NL,114001,4,708,True,2
21,B,3,stim/statue.bmp,B,NL,117001,3,806,True,1
22,B,3,stim/rooster.bmp,B,L,120001,3,891,True,3
23,B,3,stim/zebra.bmp,B,L,123001,3,724,True,1
24,B,3,stim/statue.bmp,B,NL,126001,3,590,True,2
25,A,1,stim/lettuce.bmp,S,L,129001,4,1031,True,1
26,B,3,stim/chicken.bmp,B,L,132001,3,810,True,1
27,A,1,stim/penguin.bmp,B,L,135001,3,670,True,1
28,B,3,stim/rat.bmp,S,L,142001,3,616,False,2
29,B,3,stim/wheelchair.bmp,B,NL,149001,3,700,True,3
30,B,3,stim/spoon.bmp,S,NL,156001,4,1032,True,3
31,B,3,stim/chicken.bmp,B,L,167001,3,1061,True,2
32,B,3,stim/telephone_booth.bmp,B,NL,178001,3,947,True,1
33,B,3,stim/screw.bmp,S,NL,189001,4,734,True,3
34,B,3,stim/telephone_booth.bmp,B,NL,200001,3,772,True,2
35,B,3,stim/chicken.bmp,B,L,211001,3,991,True,3
36,B,3,stim/stapler.bmp,S,NL,222001,4,1035,True,1
37,B,3,stim/shell.bmp,S,L,225001,<NA>,0,NaN,3
38,B,3,stim/zebra.bmp,B,L,228001,3,729,True,2
39,A,1,stim/broccoli.bmp,S,L,231001,4,949,True,1
40,B,3,stim/spinach.bmp,S,L,234001,<NA>,0,NaN,3
41,B,3,stim/stapler.bmp,S,NL,237001,<NA>,0,NaN,2
42,B,3,stim/zebra.bmp,B,L,240001,3,637,True,3
43,B,3,stim/telephone_booth.bmp,B,NL,243001,3,992,True,3
44,B,3,stim/rat.bmp,S,L,246001,4,1050,True,3
45,B,3,stim/statue.bmp,B,NL,249001,3,900,True,3
46,B,3,stim/stapler.bmp,S,NL,256001,4,681,True,3
47,A,1,stim/tree.bmp,B,L,263001,3,972,True,1

In [18]:
rep1_o1[rep1_o1['stim'] == 'stim/statue.bmp']

,ab,show_times,stim,big_small,nl,onset,opt,response_time,correct,sequence
21,B,3,stim/statue.bmp,B,NL,117001,3,806,True,1
24,B,3,stim/statue.bmp,B,NL,126001,3,590,True,2
45,B,3,stim/statue.bmp,B,NL,249001,3,900,True,3

## Dummy

In [19]:
dummy = rep1_o1[(rep1_o1['opt'].isna()) | (rep1_o1['correct'] == False)]

print(len(dummy))
dummy

14

,ab,show_times,stim,big_small,nl,onset,opt,response_time,correct,sequence
4,B,3,stim/spinach.bmp,S,L,42001,<NA>,0,NaN,1
5,B,3,stim/spoon.bmp,S,NL,45001,<NA>,0,NaN,1
6,A,1,stim/faint.bmp,S,NL,52001,<NA>,0,NaN,1
7,B,3,stim/shell.bmp,S,L,63001,<NA>,0,NaN,1
11,B,3,stim/screw.bmp,S,NL,83001,<NA>,0,NaN,1
13,B,3,stim/spinach.bmp,S,L,93001,<NA>,0,NaN,2
14,B,3,stim/shell.bmp,S,L,96001,<NA>,0,NaN,2
15,B,3,stim/spoon.bmp,S,NL,99001,<NA>,0,NaN,2
16,B,3,stim/rat.bmp,S,L,102001,<NA>,0,NaN,1
18,A,1,stim/envelope.bmp,S,NL,108001,<NA>,0,NaN,1
28,B,3,stim/rat.bmp,S,L,142001,3,616,False,2
37,B,3,stim/shell.bmp,S,L,225001,<NA>,0,NaN,3
40,B,3,stim/spinach.bmp,S,L,234001,<NA>,0,NaN,3
41,B,3,stim/stapler.bmp,S,NL,237001,<NA>,0,NaN,2

In [20]:
# This was classified as a dummy

rep1_o1[rep1_o1['onset'] == 142001]

,ab,show_times,stim,big_small,nl,onset,opt,response_time,correct,sequence
28,B,3,stim/rat.bmp,S,L,142001,3,616,False,2

## P11

In [22]:
p1 = rep1_o1[(rep1_o1['show_times'] == 1) & (rep1_o1['correct'] == True)]

print(len(p1))
p1

10

,ab,show_times,stim,big_small,nl,onset,opt,response_time,correct,sequence
3,A,1,stim/egg.bmp,S,L,39001,4,982,True,1
8,A,1,stim/oldradio.bmp,B,NL,74001,3,1081,True,1
9,A,1,stim/car.bmp,B,NL,77001,3,821,True,1
12,A,1,stim/toilett.bmp,B,NL,90001,3,853,True,1
17,A,1,stim/playcard.bmp,S,NL,105001,4,802,True,1
19,A,1,stim/tunafish.bmp,B,L,111001,3,920,True,1
25,A,1,stim/lettuce.bmp,S,L,129001,4,1031,True,1
27,A,1,stim/penguin.bmp,B,L,135001,3,670,True,1
39,A,1,stim/broccoli.bmp,S,L,231001,4,949,True,1
47,A,1,stim/tree.bmp,B,L,263001,3,972,True,1

## P31

In [23]:
p31 = rep1_o1[(rep1_o1['show_times'] == 3) & (rep1_o1['correct'] == True) & (rep1_o1['sequence'] == 1)]

print(len(p31))
p31

7

,ab,show_times,stim,big_small,nl,onset,opt,response_time,correct,sequence
0,B,3,stim/wheelchair.bmp,B,NL,30000,3,1087,True,1
1,B,3,stim/rooster.bmp,B,L,33001,3,1035,True,1
21,B,3,stim/statue.bmp,B,NL,117001,3,806,True,1
23,B,3,stim/zebra.bmp,B,L,123001,3,724,True,1
26,B,3,stim/chicken.bmp,B,L,132001,3,810,True,1
32,B,3,stim/telephone_booth.bmp,B,NL,178001,3,947,True,1
36,B,3,stim/stapler.bmp,S,NL,222001,4,1035,True,1

## P32

In [24]:
p32 = rep1_o1[(rep1_o1['show_times'] == 3) & (rep1_o1['correct'] == True) & (rep1_o1['sequence'] == 2)]

print(len(p32))
p32

7

,ab,show_times,stim,big_small,nl,onset,opt,response_time,correct,sequence
2,B,3,stim/wheelchair.bmp,B,NL,36001,3,917,True,2
10,B,3,stim/rooster.bmp,B,L,80001,3,846,True,2
20,B,3,stim/screw.bmp,S,NL,114001,4,708,True,2
24,B,3,stim/statue.bmp,B,NL,126001,3,590,True,2
31,B,3,stim/chicken.bmp,B,L,167001,3,1061,True,2
34,B,3,stim/telephone_booth.bmp,B,NL,200001,3,772,True,2
38,B,3,stim/zebra.bmp,B,L,228001,3,729,True,2

## P33

In [25]:
p33 = rep1_o1[(rep1_o1['show_times'] == 3) & (rep1_o1['correct'] == True) & (rep1_o1['sequence'] == 3)]

print(len(p33))
p33

10

,ab,show_times,stim,big_small,nl,onset,opt,response_time,correct,sequence
22,B,3,stim/rooster.bmp,B,L,120001,3,891,True,3
29,B,3,stim/wheelchair.bmp,B,NL,149001,3,700,True,3
30,B,3,stim/spoon.bmp,S,NL,156001,4,1032,True,3
33,B,3,stim/screw.bmp,S,NL,189001,4,734,True,3
35,B,3,stim/chicken.bmp,B,L,211001,3,991,True,3
42,B,3,stim/zebra.bmp,B,L,240001,3,637,True,3
43,B,3,stim/telephone_booth.bmp,B,NL,243001,3,992,True,3
44,B,3,stim/rat.bmp,S,L,246001,4,1050,True,3
45,B,3,stim/statue.bmp,B,NL,249001,3,900,True,3
46,B,3,stim/stapler.bmp,S,NL,256001,4,681,True,3

## Repetition 2

In [31]:
rep2_o1 = read_bh('../../data/rawdata/o01/beh/o01-2.csv')
rep2_o1 = add_consecutive(rep2_o1)

data = get_trials_condition(rep2_o1)

Number of trials: 48
Number of unique stimuli: 24
------
                Number of 1-show trials: 10
Number of 3-show trials with sequence 1: 10
Number of 3-show trials with sequence 2: 9
Number of 3-show trials with sequence 3: 9
                 Number of dummy trials: 10

In [45]:
data['dummy']

,ab,show_times,stim,big_small,nl,onset,opt,response_time,correct,sequence
1,B,3,stim/acorn.bmp,S,L,36999,<NA>,0,NaN,2
3,B,3,stim/eggplant.bmp,S,L,42999,<NA>,0,NaN,1
22,A,1,stim/corn.bmp,S,L,131999,<NA>,0,NaN,1
45,B,3,stim/eggplant.bmp,S,L,260999,<NA>,0,NaN,3
46,B,3,stim/bird.bmp,S,L,263999,<NA>,0,NaN,3

The following are marked as dummy in the matlab file

In [46]:
rep2_o1[rep2_o1['onset'].isin([
    73999,
    195999,
    215999,
    240999,
    266999,
])]

,ab,show_times,stim,big_small,nl,onset,opt,response_time,correct,sequence
8,B,3,stim/guitar.bmp,B,NL,73999,4,955,False,2
34,A,1,stim/comb.bmp,S,NL,195999,3,1091,False,1
38,B,3,stim/Iron.bmp,S,NL,215999,3,1168,False,1
41,B,3,stim/Iron.bmp,S,NL,240999,3,1323,False,2
47,B,3,stim/Iron.bmp,S,NL,266999,3,837,False,3